#container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
#_advertise{
  margin-top: 30px;
  color: black;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  width: 270px;
  height: 20px;
  margin-bottom: 13px;
}
#snsContainer{
  display: flex;
}
#kakao-link-btn{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}
#facebook{
  width: 50px;
  height: 50px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
}
#twitter{
  width: 50px;
  height: 50px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
}